### Q1. Print a simple triangle pattern:

``` 
*
**
***
****
*****
```

In [6]:
row = int(input("Enter the number of row you want to print star : "))

for i in range (1, row + 1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

### Q2. Print the following inverted pyramid pattern:

```
*****
****
***
**
*
```

In [18]:
row = int(input("Enter the number of row you want to print star : "))
for i in range(row, 0, -1):
    for j in range(i):
        print("*", end="")

    print()

*****
****
***
**
*

### Q1. Print a left align simple triangle pattern:

```
    *
   **
  ***
 ****
*****
```

In [21]:
row = int(input("Enter the number of row you want to print star : "))

for i in range(1, row + 1):
    for j in range(row, i - 1, -1):
        print(" ", end="")
    for k in range(i):
        print("*", end="")
    print()

     *
    **
   ***
  ****
 *****

### Q4. Print a pyramid pattern of stars using python loop

```
    *
   ***
  *****
 *******
*********
```

In [27]:
rows = int(input("Enter the number of row you want to print star : ")) 

for i in range (1, rows + 1):
    for j in range (rows, i - 1, -1):
        print(" ", end="")
    for k in range(2 * i - 1):
        print("*", end="")
    print()

     *
    ***
   *****
  *******
 *********

### Q5. Print diamond star pattern:

``` 
   *
  ***
 *****
*******
 *****
  ***
   *
```

In [30]:
rows = int(input("Enter the number of row you want to print star : ")) # Defines the widest part of the diamond

# --- Print the top half (upward pyramid) ---
for i in range(1, rows + 1):
    # Loop to print the leading spaces
    for j in range(rows - i):
        print(" ", end="")
    
    # Loop to print the stars
    for k in range(2 * i - 1):
        print("*", end="")
    
    # Move to the next line after the row is complete
    print()

# --- Print the bottom half (downward pyramid) ---
for i in range(rows - 1, 0, -1):
    # Loop to print the leading spaces
    for j in range(rows - i):
        print(" ", end="")
        
    # Loop to print the stars
    for k in range(2 * i - 1):
        print("*", end="")
        
    # Move to the next line
    print()

   *
  ***
 *****
*******
 *****
  ***
   *

### Q6. Print a square pattern of n x n stars.

```
****
****
****
****

In [34]:
n = int(input("Enter the value of n : "))
for i in range (1, n + 1):
    for j in range(n):
        print("*", end="")
    print()

****
****
****
****


### Q7. Print hollow square pattern:

```
*****
*   *
*   *
*****
```

In [35]:
n = int(input("Enter the number of row : "))

for i in range(n):          # i = 0 â†’ 4 (rows)
    for j in range(n):      # j = 0 â†’ 4 (columns)
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*****
*   *
*   *
*   *
*****

ðŸ”Ž Dry Run (Row by Row) for question number 7

Row 0 â†’ i = 0

Condition i == 0 â†’ true for all j.

Prints *****.

Row 1 â†’ i = 1

j = 0 â†’ border column â†’ *.

j = 1, 2, 3 â†’ not border â†’ " ".

j = 4 â†’ border column â†’ *.

Prints * *.

Row 2 â†’ i = 2

Same logic as row 1.

Prints * *.

Row 3 â†’ i = 3

Same logic again.

Prints * *.

Row 4 â†’ i = 4

Condition i == n-1 â†’ true for all j.

Prints *****